@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}


:root {
    --Desaturated-Red: hsl(0, 36%, 70%);
    --Soft-Red: hsl(0, 93%, 68%);
    --Dark-Grayish-Red: hsl(0, 6%, 24%);
}


body {
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    
}


.container {
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    background:  url('./images/bg-pattern-desktop.svg') no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1025px;
    width: 100%;
    box-shadow: 0 18px 32px #00000080;
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.information {
    margin: 50px 20px 150px 120px;
    max-width: 60%;
    width: 450px;
    display: flex;
    flex-direction: column;
}


.banner-hero {
    background-image: url('./images/hero-desktop.jpg');
    background-size: cover;
    width: 45%;   
}

.banner-hero-mobile {
    display: none;
}


.banner-hero img {
    width: 100%;
    position: relative;
}


.logo {
    margin-bottom: 100px;
}


.title {
    margin-bottom: 30px;
}


.title h1 {
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 12px;
    line-height: 54px;
    color: var(--Dark-Grayish-Red);
    font-size: 48px;
}


.title span {
    font-weight: 300;
    color: var(--Desaturated-Red);
}


.subtitle {
    font-size: 1rem;
    font-weight: 400;
    color: var(--Desaturated-Red);
    line-height: 24px;
    margin-bottom: 50px;
}


.information form {
    display: flex;
    width: 100%;
}


.information form input {
    padding: 15px 16px;
    border-radius: 22px;
    outline: none;
    border: 1px solid var(--Desaturated-Red);
    width: 100%;
    position: relative;
    }


.information form input::placeholder {
    color: var(--Desaturated-Red);
    opacity: .6;
}


.information form span {
    position: absolute;
    margin-top: 55px;
    font-size: 12px;
    color: var(--Soft-Red);
    display: none;
}


.information form > img {
    position: absolute;
    left: 390px;
    margin-top: 10px;
    display: none;
}


.information form > button {
    cursor: pointer;
    background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    outline: none;
    border: none;
    border-radius: 40px;
    padding: 12px;
    width: 95px;
    position: relative;
    left: -10%;
    box-shadow: 0px 12px 34px var(--Desaturated-Red);
}


.information form > button:hover {
    box-shadow: 0 22px 24px var(--Desaturated-Red);
    transition: all .3s ease-in-out;
}


.information form button > img {
    margin-top: 2px;
}


footer {
    position: relative;
    top: 100vh
}

/*------responsive------*/

@media screen and (max-width: 1023px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }


    .logo {
        margin-bottom: 400px;
    }

    .banner-hero-mobile {
        display: block;
        position: absolute;
        top: 120px;
        left: 0;
    }

    .information {
        max-width: 100%;
        margin: 50px 32px;
    }


    .information .title, .information .subtitle {
    display: flex;
    text-align: center;
    width: 80%;  
    }


    .information form {
        width: 90%;
    }

    .information form > img {
        left: 230px;
        margin-top: 12px;
    }



    .banner-hero {
        display: none;
    }
}



.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}